.main {
    height: 100vh;
    background: linear-gradient(245.53deg, #BCDD5E 9.16%, #97E6F7 92.14%);
}

.logo {
    height: 10px;
    width: 20px;
}

.map {
    height: calc(100vh - 80px);
}


.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    // top: 0;
    // left: 0;
    margin: 12px;
    border-radius: 4px;
}