.header {
    padding: 20px;
    background: linear-gradient(88.86deg, #77ACB8 0.95%, rgba(58, 219, 151, 0.45) 97.13%);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.left_section {
    display: flex;
    align-items: center;
    gap: 10px
}

.right_section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    border-radius: 50%;
    height: 40px;
}