.header {
    padding: 20px;
    background: linear-gradient(88.86deg, #8C77B8 0.95%, #0C90F0 97.13%);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.left_section {
    display: flex;
    align-items: center;
    gap: 10px
}