.login {
    height: 100vh;
    background: linear-gradient(245.53deg, #BCDD5E 9.16%, #97E6F7 92.14%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    text-align: center;
}

.logo {
    height: 200px;
    width: 200px;
}

