.mapboxgl-popup {
    max-width: 200px;
  }
  
.mapboxgl-popup-content {
    text-align: center;
    box-shadow: 16px 16px 10px -3px rgba(34, 60, 80, 0.56);
}

.mapboxgl-popup-close-button {
    height: 20px;
    width: 20px;
}
